test/fixtures/bookstore-packaged/build/
test/fixtures/bookstore/build/
test/fixtures/namespaced/build/
test/fixtures/nestedset/build/
test/fixtures/schemas/build/
test/fixtures/treetest/build/
vendor/
composer.lock
generator/pear/build/
runtime/pear/build/
.idea/
*.phar
.php-version
*.sh
