<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="test/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
    </php>
    <testsuites>
        <testsuite name="Propel Test Suite">
            <directory>./test/testsuite/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./runtime/lib/</directory>
            <directory>./generator/lib/</directory>
        </whitelist>
    </filter>
</phpunit>
